<!-- <p>chat works!</p> -->
<div class="login-content">
    <div class="row">
        <div class="col-8 offset-2" style="text-align: center;">
            <h3>Welcome {{username}}</h3>
        </div>
        <div class="col-1 offset-1">
            <a href="#" (click)="logout()">logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="background: bisque;">
            Chats
            <div class="users">
                <div class="list-group">
                    <button type="button" class="list-group-item" style="text-align: inherit;" *ngFor="let chat of userChats;let i = index" (click)="clickedChatUser(chat,i)" [ngStyle]="{'background':i==chatIndex?'lightsteelblue':''}">{{chat.user}}</button>
                </div>
            </div>
        </div>
        <div class="col-6" style="background: bisque;border-radius: 0px 15px 15px 0px;">
            Chat
            <div *ngIf="!showChat" style="height: 500px;height: 500px;padding: 50% 0% 0% 31%;">
                Start a new chat
            </div>
            <div *ngIf="showChat">
                <div class="chat">
                    <div></div>
                    <div *ngFor="let message of messages" [ngClass]="{'my-message':message.from==username,'external-message':message.from!=username}">{{message.message}}</div>
                </div>
                <div class="row">
                    <form class="row g-3" style="margin-top: 0px;" [formGroup]="messageForm" (submit)="sendMessage()">
                        <div class="col-10">
                          <label for="message" class="visually-hidden">Password</label>
                          <input type="text" class="form-control" id="message" formControlName="message" placeholder="Message...">
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-primary mb-3">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3" style="background: aquamarine;border-radius: 15px 0 0 15px;width: 24%;margin-left: 1%;">
            <div>
                <div>
                    Online Users <span class="badge bg-success rounded-pill">{{onlineUsers.length}}</span>
                </div>
                <div class="users">
                    <div class="list-group" style="margin: 10px;">
                        <button type="button" class="list-group-item" style="text-align: inherit;" *ngFor="let user of onlineUsers" (click)="clickedOnlineUser(user)">{{user.username}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>