/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.login-content{
    padding: 2%;
}

.users {
    overflow-y: scroll;
    height: 500px;
    background-color: lightgray;
}

.chat {
    height: 450px;
    background: rgb(255 255 255 / 30%);
    overflow-y: scroll;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset 0 0 5px 0.1px rgb(0 0 0 / 80%);
}

.my-message {
    max-width: 90%;
    width: fit-content;
    background-color: #d5f5ff;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px;
    overflow-wrap: break-word;
}

.external-message {
    max-width: 80%;
    width: fit-content;
    background-color: #023e8a;
    color: white;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
    overflow-wrap: break-word;
}